<template name="devicesProductsPage">
	<div class="row">
		<a class="btn btn-primary pull-right">创建产品</a>
	</div>
	<table class="table">
      <caption>产品列表</caption>
      <thead>
        <tr>
          <th>ID</th>
          <th>名称</th>
          <th>品牌</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>9283hbs3</td>
          <th>电梯</th>
          <td>MXCHIP</td>
        </tr>
        <tr>
          <td>8jdu4bu3</td>
          <th>自动扶梯</th>
          <td>MXCHIP</td>
        </tr>
        <tr>
          <td>84but2zk</td>
          <th>升降机</th>
          <td>MXCHIP</td>
        </tr>
      </tbody>
    </table>
</template>