<template name="leftNav">
  <ul class="nav nav-sidebar nav">
    <li>
      <a href="#">设备监控</a>
      <ul style="display:none">
        <li><a href="/monitor">监控中心</a></li>
        <li><a href="/solo">单机监控</a></li>
        <li><a href="/group">群组监控</a></li>
        <li><a href="/custom">自定义监控</a></li>
      </ul>
    </li>
  </ul>
  <ul class="nav nav-sidebar">
    <li>
      <a href="">设备急修</a>
      <ul style="display:none">
        <li><a href="/repairlist">维修状态</a></li>
        <li><a href="/repairlog">维修记录</a></li>
      </ul>
    </li>
    <li>
      <a href="">设备档案</a>
      <ul style="display:none">
        <li><a href="/device">设备信息</a></li>
        <li><a href="/service">维修记录</a></li>
        <li><a href="/year">年检记录</a></li>
      </ul>
    </li>
    <li>
      <a href="">数据统计</a>
      <ul style="display:none">
        <li><a href="/stat_broke">故障统计</a></li>
        <li><a href="/stat_time">运行时间</a></li>
        <li><a href="/stat_service">服务统计</a></li>
      </ul>
    </li>
  </ul>
  <ul class="nav nav-sidebar">
    <li>
      <a href="">消息通知</a>
      <ul style="display:none">
        <li><a href="/msg_user">用户消息</a></li>
        <li><a href="/msg_sys">系统消息</a></li>
      </ul>
    </li>
    <li>
      <a href="/account">账户信息</a>
    </li>
    <li>
      <a href="">系统配置</a>
      <ul style="display:none">
        <li><a href="/users">账号管理</a></li>
        <li><a href="/devices_products">设备管理</a></li>
      </ul>
    </li>
  </ul>
</template>