<template name="leftNav">
  <ul class="nav nav-sidebar nav">
    <li class="active">
      <a href="#">设备监控</a>
      <ul>
        {{#each monitors}}
          <li><a href="{{pathFor 'content'}}">{{text}}</a></li>
        {{/each}}
      </ul>
    </li>
  </ul>
  <ul class="nav nav-sidebar">
    <li>
      <a href="">设备急修</a>
      <ul>
        {{#each repairs}}
          <li><a href="#">{{text}}</a></li>
        {{/each}}
      </ul>
    </li>
    <li>
      <a href="">维保&年检</a>
      <ul>
        {{#each services}}
          <li><a href="#">{{text}}</a></li>
        {{/each}}
      </ul>
    </li>
    <li>
      <a href="">数据统计</a>
      <ul>
        {{#each statistics}}
          <li><a href="#">{{text}}</a></li>
        {{/each}}
      </ul>
    </li>
  </ul>
  <ul class="nav nav-sidebar">
    <li>
      <a href="">消息通知</a>
      <ul>
        {{#each messages}}
          <li><a href="#">{{text}}</a></li>
        {{/each}}
      </ul>
    </li>
    <li>
      <a href="">账户信息</a>
    </li>
    <li>
      <a href="">系统配置</a>
      <ul>
        {{#each options}}
          <li><a href="#">{{text}}</a></li>
        {{/each}}
      </ul>
    </li>
  </ul>
</template>