@charset "utf-8";
/* CSS Document */
/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button {
	margin: 0;
	padding: 0
}

body,h1,h2,h3,h4,input,button,textarea {
	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti,
		sans-serif;
	_font-family: Tahoma, Arial, Helvetica, STHeiti, sans-serif;
	color: #404040;
}

body {
	background-color: #fff;
	*word-break: break-all;
	-ms-word-break: break-all;
	font-size: 12px;
}

img,fieldset,iframe {
	border: 0 none
}

li {
	list-style: none
}

input,select,button {
	vertical-align: middle
}

i,em,address {
	font-style: normal
}

label,button {
	cursor: pointer
}

button {
	margin: 0;
	padding: 0
}

a {
	color: #404040;
	text-decoration: none
}

a:hover {
	text-decoration: underline
}

/* Common */
.blind,legend {
	display: block;
	overflow: hidden;
	position: absolute;
	top: -1000em;
	left: 0
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis
}

.show {
	display: block
}

.hide {
	display: none
}

/* layout */
#container {
	width: 970px;
	margin: 10px auto;
	overflow: hidden
}

.col_left {
	width: 200px;
	float: left;
}

.col_right {
	width: 763px;
	float: right;
}

.box {
	width: 770px;
	height: 510px;
	margin-left: 65px;
	margin-top: 30px;
}

.box_top {
	height: 35px;
	line-height: 37px;
	padding-left: 15px;
	font-size: 14px;
	background: url(../../img/monitor/box_top.png) 0 0 no-repeat
}

.box_mid {
	background: url(../../img/monitor/box_mid.png) 0 0 repeat-y;
	padding: 10px 15px;
	overflow: hidden
}

.snb {
	line-height: 25px;
	padding-left: 10px;
	margin-bottom: 5px
}

.snb .close,.snb .open {
	background: url(../../img/monitor/ico_close.png) 0 6px no-repeat;
	padding-left: 20px;
}

.snb .open {
	background: url(../../img/monitor/ico_open.png) 0 6px no-repeat;
}

.snb_item {
	background: url(../../img/monitor/ico_tree.png) 0 center no-repeat;
	padding-left: 15px
}

.snb_bg {
	background: #f6f6f6 url(../../img/ban.png) 0 0 repeat-y;
	overflow-y: auto !important;
	overflow-x: hidden;
	margin: 0;
	padding: 0
}

.box_h3 {
	margin-bottom: 5px;
}

.box_bot {
	height: 5px;
	background: url(../../img/monitor/box_bot.png) 0 0 no-repeat;
}

.box_case {
	padding: 0
}

.tab {
	background: url(../../img/monitor/dot.png) 0 bottom repeat-x;
	margin: 0 5px 0 4px;
	line-height: 30px;
	overflow: hidden
}

.tab li {
	float: left;
	width: 50%;
	text-align: center;
	cursor: pointer
}

.tab li span {
	display: inline-block;
	padding: 0 10px;
}

.tab .on {
	border-bottom: 3px solid #368de6;
}

.box_lst {
	padding: 10px 15px;
	line-height: 22px
}

.box_lst2 {
	line-height: 22px
}

.box2 {
	margin-bottom: 5px
}

.box2_top {
	height: 34px;
	overflow: hidden;
	line-height: 37px;
	padding-left: 15px;
	font-size: 14px;
	background: url(../../img/monitor/box2_top.png) 0 0 no-repeat
}

.box2_mid {
	background: url(../../img/monitor/box2_mid.png) 0 0 repeat-y;
	padding: 10px 15px;
	overflow: hidden;
	position: relative
}

.box2_bot {
	height: 5px;
	background: url(../../img/monitor/box2_bot.png) 0 0 no-repeat;
}

.box2_more {
	text-align: right;
}

.box2_more a {
	color: #1e72df
}

.box2_lst {
	width: 2000px;
	margin-left: 12px
}

.box2_lst li {
	width: 154px;
	float: left;
	margin-right: 30px;
}

.box2_tit {
	font-weight: bold;
	padding: 5px 0;
	display: block;
	font-size: 14px;
}

.box2_l,.box2_r {
	width: 30px;
	height: 97px;
	overflow: hidden;
	text-indent: -1000px;
	position: absolute;
	top: 45px;
	background: url(../../img/monitor/pro_left.png) 0 0 no-repeat
}

.box2_l {
	left: 3px
}

.box2_r {
	right: 3px;
	background: url(../../img/monitor/pro_right.png) 0 0 no-repeat
}

/* 电梯监控 */
.dtkjbox { /*background:url(../images/dtjk_bg2.png) 0 0 repeat-x;*/
	background: #fff;
	clear: both;
	margin-top: -5px;
}

.dtjk {
	background: url(../../img/monitor/dtjk_bg.png) 0 0 no-repeat;
	position: relative;
	overflow: hidden;
}

.dtjk_h2 {
	padding: 8px;
	position: absolute;
	/* left: 95px; */
	top: 92px;
	z-index: 100;
	font-size: 20px;
}

.dtjk_l {
	float: left;
}

.dtjk_r {
	width: 308px;
	float: right;
	/* margin-right: 50px; */
	position: absolute;
	top: 200px;
	right: 115px;
	/* left: 815px; */
	z-index: 10
}

.dtjk_case {
	height: 74px;
	line-height: 74px;
	margin-top: 30px;
}

.dtjk_case img {
	vertical-align: middle
}

.dtjk_num {
	margin: 0 10px
}

.dtjk_box {
	background: url(../../img/monitor/xiao-qu-gai-kuang.png) 0 0 no-repeat;
	padding: 0 15px;
	line-height: 32px;
	height: 105px;
	margin: 5px 0 20px 0
}

.dtjk_grey {
	color: #8b8b8b;
	padding-right: 10px
}

.dtjk_box2 {
	height: 281px;
	background: url(../../img/monitor/xin-xi.png) 0 0 no-repeat;
}

.dtjk_tab {
	height: 31px;
	line-height: 31px;
	margin: 0 5px;
}

.dtjk_tab .on {
	border-bottom: 3px solid #368de6;
}

.dtjk_tab li {
	float: left;
	width: 33%;
	text-align: center;
	cursor: pointer;
}

.dtjk_tab li span {
	display: inline-block;
	padding: 0 10px;
}

.dtjk_lst {
	line-height: 28px;
	clear: both;
	margin: 12px 15px
}

.dtjk_map {
	line-height: 28px;
	clear: both;
}

.dtjk_change {
	position: absolute;
	left: 650px;
	top: 605px;
	cursor: pointer;
	z-index: 100;
}

.style2 {
	background-image: url(../../img/sou-suo3.png);
	width: 358px;
	margin-left: 0;
}

.style2 .searchinbox1 {
	padding-left: 10px
}

/* 故障提醒 */
.gztx_tab {
	line-height: 32px;
	height: 32px;
	margin-top: 25px;
	overflow: hidden;
	padding: 10px 0 0 50px;
	display: inline-block;
	float: left;
}

.gztx_tab li {
	width: 151px;
	border-radius: 10px 10px 0 0;
	float: right;
	text-align: center;
	font-size: 14px;
	margin-right: 10px;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#ddd)); border:1px solid #ddd; box-shadow:0 0 1px #eee;*/
	cursor: pointer;
	background: url(../../img/mo-ren-zhuang-tai.png) 0 1px no-repeat;
	margin-left: -30px;
}

.gztx_tab .selectTag {
	background: #eee;
	color: #06F;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));*/
	background: url(../../img/di-ji-zhuang-tai-.png) 0 1px no-repeat
}

.gztx_org {
	color: #F30
}

.gztx_box {
	padding: 10px;
	background: #fff;
	border: 1px solid #CCC;
	box-shadow: 0 0 3px #ccc;
	clear: both
}

.gztx_box div {
	display: none
}

.gztx_box .selectTag {
	display: block
}

.gztx {
	margin: 0 10px 0 0
}

.gztx_table {
	background: #dbdbdb;
	line-height: 35px;
}

.gztx_table td {
	background: #fff;
	text-align: center
}

.gztx_table td img {
	vertical-align: middle
}

.gztx_tablet th {
	background: url(../../img/gztx_bg.png) 0 0 repeat-x
}

.gztx_tr td {
	background: #f4f5f7
}

.page {
	text-align: right !important;
	padding-right: 15px
}

.page a {
	margin-right: 5px
}

.page_on {
	color: #06F
}

.czkj {
	margin-top: 35px;
	padding: 10px;
}

.tylbbox {
	margin-top: 28px;
	font-size: 14px;
	padding: 10px 0;
	background: #f6f6f6
}

.tylbbox input,.tylbbox select,.tylbbox img {
	vertical-align: middle
}

.tylb_inp {
	width: 117px;
	font-size: 16px;
	height: 28px;
	line-height: 28px;
	padding-left: 10px;
	background: url(../../img/tylp_input.png) 0 0 no-repeat;
	border: 0;
}

.tylp_time {
	margin: 0 30px
}

.tylp_class {
	margin-right: 30px;
	display: inline-block
}

.pro_top {
	margin-top: 30px;
	border-bottom: 1px;
	solid
	#cbcbcb
}

.pro_class {
	padding: 10px;
	line-height: 30px;
	border-top: 1px solid #fff;
}

.pro_class a {
	margin-left: 20px;
	font-weight: normal
}

.pro_box li {
	border-radius: 5px;
	border: 1px solid #ddd;
	box-shadow: 0px 0px 1px #ccc;
	width: 220px;
	float: left;
	margin: 0 10px 20px 10px;
	background: #fff;
}

.pro_tmp {
	margin: 10px 10px 0 10px;
	display: block
}

.pro_name {
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin: 0 10px
}

.pro_other {
	display: block;
	margin: 5px 10px
}

.pro_xh {
	margin-right: 10px;
}

.pro_time {
	border-top: 1px solid #f6f2f3;
	display: block;
	padding: 5px 10px;
	background: #fafafa;
	border-radius: 0 0 5px 5px
}

.pro_more {
	position: absolute;
	right: -5px;
	bottom: -5px;
}

.pro_more img {
	vertical-align: middle;
	margin-right: 5px;
}

/* 报表 */
ul#q-graph {
	border: 2px solid #949494;
	border-top: none;
	border-right: none;
	height: 400px;
	width: 600px;
	position: relative;
	list-style: none;
	margin: 1.1em 1em 3.5em;
	padding: 0;
}

#q-graph li {
	position: absolute;
	text-align: center;
	bottom: 0;
	padding: 0 margin:0;
}
/* ul li */
li.qtr {
	width: 150px;
	height: 300px;
	z-index: 2;
}

li#q1 {
	left: 0;
}

li#q2 {
	left: 150px;
}

li#q3 {
	left: 300px;
}

li#q4 {
	left: 450px;
	border-right: none;
}
/* ul li ul */
#q-graph ul {
	list-style: none;
}
/* ul li ul li */
li.bar {
	width: 34px;
	color: #fff;
}

li.north {
	left: 36px;
	background: #abd728;
}

li.south {
	left: 80px;
	background: #64a1ce;
}
/* ul li divs */
li#ticks {
	left: 0;
	height: 360px;
	width: 100%;
	z-index: 1;
}

div.ticks {
	position: relative;
	height: 50px;
}

div.ticks:first-child {
	border-top: none;
} /*only4 Firefx IE 7+*/
div.ticks p {
	position: absolute;
	left: -20px;
	top: -11pt;
}

.qtr_name {
	position: absolute;
	bottom: -30px;
	left: 40%
}

.bp {
	border-top: 1px solid #ddd
}

.bp_box {
	border: 1px solid #ddd;
	box-shadow: 0 0 3px #ccc;
	border-radius: 5px;
	background: url(../../img/pb_bg.png) 0 0 repeat;
	padding-left: 20px
}

.kfjm {
	margin: 30px 0 0 20px;
	position: relative;
	z-index: -10
}

.kfjm li {
	line-height: 35px
}

.kfjm li img {
	vertical-align: middle;
	margin-right: 10px;
}

.kfjm_exp {
	position: absolute;
	left: 0;
	bottom: 20px;
}

.ser li {
	height: 112px;
	background: url(../../img/ser_bg.png) 0 0 no-repeat;
	padding: 10px 0 20px 20px
}

.ser li p {
	width: 500px;
	line-height: 22px;
}

.ser h3 {
	font-size: 14px;
	font-weight: bold;
	line-height: 35px;
}

.ser h3 img {
	vertical-align: middle;
	margin-left: 10px;
}

.ser li a {
	color: #798f60;
}

.pagebox {
	border: 1px solid #d8d8d8;
	border-radius: 3px;
	text-align: right;
	padding: 5px 15px;
	clear: both
}

.pb2 {
	margin: 0 10px
}

.ser_top {
	border: 1px solid #d4d4d4;
	border-bottom: none;
	padding-bottom: 3px;
	background: #5aa1fe;
	border-radius: 3px;
	margin: 0 10px 10px 10px
}

.pc2 {
	border-bottom: 1px solid #d4d4d4;
	border-radius: 3px;
	background: #fff;
}

.pc2 li {
	border-bottom: 1px dashed #b6b6b6;
	font-weight: bold;
	position: relative
}

.pc2 .last {
	border-bottom: none
}

.lnk_blue {
	color: #2e82d7;
}

.mapbox {
	position: relative;
	width: 820px;
	height: 550px;
	z-index: -10;
}

.xiu {
	position: absolute;
	right: 0;
	top: 0;
}

.sel_con {
	display: inline-block;
	width:;
	height:;
	background: url(../../img/tylp_sel.png) 0 0 no-repeat;
	width: 107px;
	height: 28px;
	line-height: 28px;
	text-indent: 5px;
}

.tylp_che {
	background: url(../../img/tylp_che.png) 0 center no-repeat;
	padding-left: 20px;
}

/* 焦点图效果 */
.dtkjbo {
	height: 625px;
	position: relative;
	background: #fff;
}

.picBtnTop {
	margin-top: 24px;
	position: absolute;
	/* top: 740px; */
}

.picBtnTop .hd {
	padding: 30px 0 0 20px;
	zoom: 1;
	background: url(../../img/di-ban.png) 0 0 no-repeat;
	width: 1032px;
	height: 90px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 200
}

.picBtnTop .hd ul {
	overflow: hidden;
	zoom: 1;
	float: left;
	width: 800px;
}

.picBtnTop .hd ul li {
	margin: 0 15px;
	float: left;
	_display: inline;
	overflow: hidden;
	text-align: center;
}

.picBtnTop .hd ul li .pic {
	text-align: center;
}

.picBtnTop .hd ul li .pic img {
	width: 52px;
	height: 37px;
	display: block;
	padding: 2px;
	border: 1px solid #ccc;
}

.picBtnTop .hd ul li .pic a:hover img {
	border-color: #999;
}

.picBtnTop .hd ul li .title {
	line-height: 24px;
}

.picBtnTop .sPrev,.picBtnTop .sNext {
	display: block;
	width: 47p;
	height: 90px;
	float: left;
}

.picBtnTop .bd {
	width: 1052px;
	position: relative;
}

.picBtnTop .bd li {
	position: relative;
	zoom: 1;
	vertical-align: middle;
}

.picBtnTop .bd li .pic {
	position: relative;
	z-index: 0;
}

.picBtnTop .bd li .pic img {
	width: 400px;
	height: 214px;
	vertical-align: bottom;
}

.picBtnTop .bd li .bg {
	width: 400px;
	height: 30px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
	background: #000;
	filter: alpha(opacity =   
		                                                         
		     60);
	opacity: 0.6;
}

.picBtnTop .bd li .title {
	width: 400px;
	height: 30px;
	line-height: 30px;
	left: 0;
	bottom: 0;
	position: absolute;
	z-index: 2;
}

.picBtnTop .bd li .title a {
	color: #fff;
	padding-left: 15px;
}

.close {
	margin: -22px 0px 0 30px;
	display: inline-block;
	right: 20px;
	position: absolute;
}

.citybox {
	border: 1px solid #ccc;
	background: #f9f9f9;
	margin: 5px;
	padding: 0 2px;
	border: 1px solid #acaead;
	border-radius: 3px;
	box-shadow: 1px 1px 1px inset #fff;
	line-height: 30px;
	position: absolute;
	left: 150px;
	top: 30px;
	z-index: 1000;
	width: 500px;
	display: none
}

.citytit {
	background: #efefef;
	line-height: 30px;
	padding: 0 5px;
	border-bottom: 1px solid #acaead
}

.city {
	padding-left: 50px;
	position: relative;
	margin: 0 5px;
}

.city_hot {
	position: absolute;
	left: 0;
	font-weight: bold
}

.city a {
	margin-right: 10px;
}

.city_code {
	border-bottom: 1px solid #2a8bd8;
	overflow: hidden;
	display: inline-block;
	height: 25px;
	overflow: hidden
}

.city_code a {
	margin: 0 5px -2px 0;
}

.city_on {
	background: #2a8bd8;
	color: #fff;
	display: inline-block;
	line-height: 25px;
	padding: 0 5px;
}

.city_close {
	float: right;
	margin-top: 10px;
	cursor: pointer;
}
/* 更多监控 */
.dtjk_case_out {
	height: auto;
	background: url(../../img/gengduojiankongdizuo.png) bottom right
		no-repeat;
	margin-top: 40px;
}

.dtjk_case_out .J_dtjk_more_btn {
	margin: 3px 3px 6px 3px;
}

.dtjk_case_out2 .J_dtjk_more_btn {
	margin-bottom: 13px;
}

.dtjk_case_middle {
	height: auto;
	background: url(../../img/BG_gudingdizuo.png) top center repeat-y;
	padding-bottom: 7px;
}

.dtjk_case_middle_en {
	height: auto;
	background: url(../../img/BG_gudingdizuo_en.png) top center repeat-y;
	padding-bottom: 7px;
}

.dtjk_case_door_state {
	width: 276px;
	height: 340px;
	margin: 0 auto;
}

.marginL110 {
	margin-left: 110px;
}

.marginL100 {
	margin-left: 99px;
}

.marginL40 {
	margin-left: 40px;
}

.marginL63 {
	margin-left: 63px;
}

.marginL33 {
	margin-left: 33px;
}

.marginL25 {
	margin-left: 25px;
}

.marginL28 {
	margin-left: 28px;
}

.marginL48 {
	margin-left: 42px;
}

.marginL37 {
	margin-left: 36px;
}

.dtjk_case_door_number {
	width: 276px;
	height: auto;
	margin: 0 auto;
}

.dtjkc_top {
	width: 274px;
	height: 23px;
	background: url(../../img/dizuo_shangmian.png) top center no-repeat;
}

.dtjkc_middle {
	width: 274px;
	height: auto;
	clear: both;
	background: url(../../img/dizuo_zhongjian.png) repeat-y;
}

.dtjkc_middle_r {
	width: 274px;
	clear: both;
	height: auto;
	display: inline-block;
}

.dtjkc_bottom {
	width: 274px;
	height: 17px;
	clear: both;
	background: url(../../img/dizuo_xiamian.png) top center no-repeat;
}

.dtjk_case_more p {
	background: url(../../img/gengduojiankong.png) no-repeat;
	width: 165px;
	height: 30px;
	margin: 0 auto;
}

.grey_body {
	background: #f6f6f6 !important;
	overflow-y: auto;
	overflow-x: scroll;
}

.dtjk_case_more img {
	cursor: pointer;
}

.dtjk_case_more {
	text-align: center;
	height: auto;
}

.dtjk_case_out2 {
	height: auto;
	margin-top: 40px;
	padding-bottom: 8px;
}

.dtjk_case_out2 .dtjk_case_more {
	background: url(../../img/BG_xiamian1.png) bottom center no-repeat;
}

.dtjk_case_door_state ul {
	padding-top: 70px;
}

.dtjk_case_door_state ul li {
	float: left;
	margin-top: -40px;
}

.dtjk_case_door_state ul li p {
	margin-top: 2px;
}

.dtjkc_middle_r {
	width: 274px;
	clear: both;
	height: auto;
	display: inline-block;
}

.dtjkc_middle_r img {
	width: 62px;
	float: left;
}

.dtjkc_middle_r ul {
	float: left;
	width: 150px;
	margin-left: 23px;
	max-height: 57px;
	overflow-y: auto;
}

.dtjkc_middle_r ul li {
	float: left;
	margin-bottom: 5px;
	background: url(../../img/yuanquan.png) no-repeat;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	vertical-align: middle;
	margin-right: 5px;
}

.snb_bg {
	background: #f6f6f6 url(../../img/ban.png) 0 0 repeat-y;
	overflow-y: auto !important;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

.leftbox {
	float: left;
	width: 193px;
}

/*15 195*/
.tree_root {
	width: 165px;
	margin: 0px 15px;
	margin-top: 10px;
	font-size: 15px;
}

.tree_root a {
	text-decoration: none;
}

.tree_root li {
	width: 165px;
	overflow: hidden;
	margin-bottom: 19px;
}

.tree_item_icon {
	float: left;
	width: 13px;
	height: 13px;
}

.tree_item_icon .icon_plus {
	width: 13px;
	height: 13px;
	display: block;
	background: url(../../img/icon_plus.png) 0 0px no-repeat;
	margin-top: 3px;
}

.tree_item_icon .icon_minus {
	width: 13px;
	height: 13px;
	display: block;
	background: url(../../img/icon_minus.png) 0 0px no-repeat;
	margin-top: 3px;
}

.tree_items {
	float: left;
	margin-left: 8px;
}

.tree_item {
	float: left;
	margin-left: 8px;
	cursor: pointer;
	width: 140px;
}

.tree_item_box {
	float: left;
}

.tree_two {
	margin-left: 16px;
	width: 165px;
}

.tree_two li {
	width: 165px;
	overflow: hidden;
	margin-bottom: 0px;
	margin-top: 15px;
}

.duotijk_extend_btn {
	background: url(../../img/zhengchang.png) 0 0 no-repeat;
	cursor: pointer;
	width: 33px;
	height: 87px;
	position: absolute;
	left: 188px;
	top: 235px;
	z-index: 1000;
}

.duotijk_extend_btn_cur {
	background: url(../../img/xuanzhong.png) 0 0 no-repeat;
}

.duotijk_extend_box {
	background: url(../../img/youmianban.png) 0 0 no-repeat;
	width: 167px;
	height: 380px;
	position: absolute;
	left: 190px;
	top: 80px;
	z-index: 900;
}

.duotjk_e_top {
	width: 167px;
	text-align: center;
	margin-top: 17px;
}

.duotjk_e_mid {
	width: 164px;
	margin-top: 15px;
	margin-bottom: 10px;
	height: 230px;
	overflow-y: auto;
	overflow-x: hidden;
}

.duotjk_e_mid dl {
	margin-left: 20px;
	margin-top: 14px;
	width: 130px;
	text-align: center;
}

.duotjk_e_mid dl dt {
	font-size: 14px;
}

.duotjk_e_mid dl dd {
	font-size: 12px;
	position: relative;
}

.duotjk_e_mid dl dd a {
	width: 130px;
	height: 28px;
	line-height: 28px;
	display: inline-block;
}

.duotjk_e_mid dl dd span { /* margin-left: 17px; */
	display: none;
	background: url(../../img/jianhao.png) 0 0 no-repeat;
	width: 28px;
	height: 28px;
	position: absolute;
}

.duotjk_e_mid dl dd a:hover span {
	display: inline-block;
}

.duotjk_e_mid dl li {
	height: 28px;
	line-height: 28px;
}

.duotjk_e_bottom {
	margin-top: 20px;
	height: 50px;
}

.del_all_btn {
	margin-left: 20px;
	background: url(../../img/shanchusuoyou.png) no-repeat;
	width: 122px;
	height: 29px;
	display: inline-block;
}

.del_all_btn_en {
	margin-left: 20px;
	background: url(../../img/shanchusuoyouen.png) no-repeat;
	width: 122px;
	height: 29px;
	display: inline-block;
}

.del_all_btn:active {
	background: url(../../img/shanchusuoyou_dianji.png) no-repeat;
}

.ok_btn {
	margin-left: 25px;
	background: url(../../img/queren.png) no-repeat;
	width: 54px;
	height: 29px;
	display: inline-block;
}

.ok_btn:active {
	background: url(../../img/queren_dianji.png) no-repeat;
}

.ok_btn_en {
	margin-left: 25px;
	background: url(../../img/querenen.png) no-repeat;
	width: 54px;
	height: 29px;
	display: inline-block;
}

.ok_btn_en:active {
	background: url(../../img/queren_dianjien.png) no-repeat;
}


.cancel_btn {
	background: url(../../img/quxiao.png) no-repeat;
	width: 54px;
	height: 29px;
	display: inline-block;
}

.cancel_btn:active {
	background: url(../../img/quxiao_dianji.png) no-repeat;
}

.cancel_btn_en {
	background: url(../../img/quxiaoen.png) no-repeat;
	width: 54px;
	height: 29px;
	display: inline-block;
}

.cancel_btn_en:active {
	background: url(../../img/quxiao_dianjien.png) no-repeat;
}

.rightbox_dt {
	position: relative;
	width: 845px;
	height: 557px;
	background: url(../../img/diwen.png) no-repeat;
	margin-left: 4px;
	margin-top: 4px;
	float: left; /*padding-top:46px;*/
}

.doutijk_part {
	border: 1px solid #999;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090,
		direction=120, strength=4 ); /*ie*/
	-moz-box-shadow: 2px 2px 10px #909090; /*firefox*/
	-webkit-box-shadow: 2px 2px 10px #909090; /*safari或chrome*/
	box-shadow: 2px 2px 10px #909090; /*opera或ie9*/
}

.doutijk_1 {
	width: 720px;
	height: 450px;
	margin-left: 62px;
	position: relative;
}

.doutijk_2 {
	width: 380px;
	height: 480px;
	position: relative;
}

.fl {
	float: left;
}

.marginL32 {
	margin-left: 32px;
}

.marginR16 {
	margin-right: 16px;
}

.marginT45 {
	margin-top: 45px;
}

.marginT14 {
	margin-top: 10px;
}

.doutijk_3_left {
	width: 234px;
	float: left;
	margin-left: 56px;
}

.doutijk_3_left div {
	height: 235px;
	position: relative;
}

.doutijk_3_right {
	width: 480px;
	height: 480px;
	float: left;
	margin-left: 20px;
	position: relative;
}

.doutijk_4 {
	margin-left: 54px;
}

.doutijk_4 li {
	width: 355px;
	height: 230px;
	border: 1px solid #999;
	float: left;
	margin-right: 22px;
	margin-bottom: 20px;
	position: relative;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090,
		direction=120, strength=4 ); /*ie*/
	-moz-box-shadow: 2px 2px 10px #909090; /*firefox*/
	-webkit-box-shadow: 2px 2px 10px #909090; /*safari或chrome*/
	box-shadow: 2px 2px 10px #909090; /*opera或ie9*/
}

.doutijk_5 {
	margin-left: 34px;
	float: left;
	width: 366px;
}

.doutijk_5 li {
	width: 166px;
	height: 230px;
	border: 1px solid #999;
	float: left;
	margin-left: 12px;
	margin-bottom: 18px;
	position: relative;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090,
		direction=120, strength=4 ); /*ie*/
	-moz-box-shadow: 2px 2px 10px #909090; /*firefox*/
	-webkit-box-shadow: 2px 2px 10px #909090; /*safari或chrome*/
	box-shadow: 2px 2px 10px #909090; /*opera或ie9*/
}

.doutijk_5_right {
	float: left;
	width: 360px;
	height: 478px;
	margin-left: 18px;
	position: relative;
}

.doutijk_6 {
	margin-left: 54px;
}

.doutijk_6 li {
	width: 235px;
	height: 227px;
	border: 1px solid #999;
	float: left;
	margin-right: 12px;
	margin-bottom: 17px;
	position: relative;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090,
		direction=120, strength=4 ); /*ie*/
	-moz-box-shadow: 2px 2px 10px #909090; /*firefox*/
	-webkit-box-shadow: 2px 2px 10px #909090; /*safari或chrome*/
	box-shadow: 2px 2px 10px #909090; /*opera或ie9*/
}

.doutijk_7_1 {
	margin-left: 54px;
}

.doutijk_7_1 li {
	width: 240px;
	height: 230px;
	border: 1px solid #999;
	float: left;
	margin-right: 12px;
	margin-bottom: 15px;
	position: relative;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090,
		direction=120, strength=4 ); /*ie*/
	-moz-box-shadow: 2px 2px 10px #909090; /*firefox*/
	-webkit-box-shadow: 2px 2px 10px #909090; /*safari或chrome*/
	box-shadow: 2px 2px 10px #909090; /*opera或ie9*/
}

.doutijk_7_2 {
	margin-left: 54px;
}

.doutijk_7_2 li {
	width: 176px;
	height: 230px;
	border: 1px solid #999;
	float: left;
	margin-right: 12px;
	margin-bottom: 15px;
	position: relative;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090,
		direction=120, strength=4 ); /*ie*/
	-moz-box-shadow: 2px 2px 10px #909090; /*firefox*/
	-webkit-box-shadow: 2px 2px 10px #909090; /*safari或chrome*/
	box-shadow: 2px 2px 10px #909090; /*opera或ie9*/
}

.jk_title {
	position: absolute;
	top: 0px;
	left: opx;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 100%;
	background: #fff;
	color: #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* ie8  */
	filter: alpha(opacity =           50); /* ie5-7  */
	opacity: 0.5;
	cursor: pointer;
	/* font-size: 19px; */

	/* css standard, currently it works in most modern browsers  */
}

.tree_three {
	margin-left: 16px;
	width: 145px;
	font-size: 13px;
}

.tree_three li {
	line-height: 100%;
	height: 28px;
	position: relative;
	margin: 0px;
	width: 145px;
	overflow: hidden;
	margin-left: 5px;
}

.tree_three a {
	width: 128px;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	vertical-align: middle;
}

.aOn {
	font-size: 14px;
	color: #1286fd;
	font-weight: bold;
}

.areaOn {
	font-size: 15px;
	color: #1286fd;
	font-weight: bold;
}

.tree_three span {
	margin-left: 17px;
	display: none;
	/* background: url(../../img/jiahao.png) 0 0 no-repeat; */
	width: 28px;
	height: 28px;
	position: absolute;
}

.tree_three a:hover span {
	display: inline-block;
}

.box_inner {
	width: 750px;
	height: 510px;
	overflow: hidden;
	position: relative;
}

.box_in {
	width: 1540px;
	height: 510px;
	left: 0px;
	position: absolute;
}

.box ul {
	width: 760px;
	float: left;
	padding: 0px;
	padding: 5px 0px 0px 5px;
	margin-left: -25px;
}

.box ul li {
	float: left;
	width: 170px;
	height: 234px;
	border: 1px solid #999;
	margin-right: 13px;
	margin-bottom: 18px;
	position: relative;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090,
		direction=120, strength=4 ); /*ie*/
	-moz-box-shadow: 2px 2px 10px #909090; /*firefox*/
	-webkit-box-shadow: 2px 2px 10px #909090; /*safari或chrome*/
	box-shadow: 2px 2px 10px #909090; /*opera或ie9*/
}

.prev {
	float: left;
	display: inline-block;
	_display: inline;
	position: absolute;
	left: 45px;
	top: 260px;
	width: 43px;
	height: 43px;
	background: url(../../img/dt_zuo.png) no-repeat;
	z-index: 500;
}

.next {
	float: right;
	display: inline-block;
	_display: inline;
	position: absolute;
	right: 47px;
	top: 260px;
	z-index: 500;
	width: 43px;
	height: 43px;
	background: url(../../img/dt_you.png) no-repeat;
}

.prev:active {
	background: url(../../img/dt_zuodianji.png) no-repeat;
}

.next:active {
	background: url(../../img/dt_youdianji.png) no-repeat;
}

.arealist2 { /* height: 130px; */
	width: 100%;
	/* overflow: hidden;
	overflow-y: auto; */
}

.citybox {
	width: 510px
}

.tree_root {
	width: 177px;
	margin-right: 0px;
	overflow-x: hidden;
	overflow-y: auto;
	height: 550px;
}

.tree_four {
	margin-left: 16px;
	width: 145px;
	font-size: 13px;
}

.tree_four li {
	line-height: 100%;
	/* height: 28px; */
	position: relative;
	margin: 0px;
	width: 145px;
	overflow: hidden;
	margin-left: 5px;
}

.tree_four a {
	width: 128px;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	vertical-align: middle;
}

.tree_four span {
	margin-left: 17px;
	display: none;
	/* background: url(../../img/jiahao.png) 0 0 no-repeat; */
	width: 28px;
	height: 28px;
	position: absolute;
}

.tree_four a:hover span {
	display: inline-block;
}

.paramer_box {
	background: url(../../img/monitor/run-paramer.png) 0 0 no-repeat;
	padding: 0 15px;
	line-height: 32px;
	height: 105px;
	margin: 5px 0 20px 0
}