@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	background-image: url(../../img/header_bg.gif);
	overflow: hidden;
	font-family: "Microsoft YaHei";
}

ul,ol {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}

input,button,select,textarea {
	outline: none;
}

a:link {
	text-decoration: none;
	/* color: #333; */
}

a:hover {
	text-decoration: underline;
}

a:visited {
	text-decoration: none;
}

input:focus {
	
}

a img {
	border: 0;
}

.bodybg {
	width: 1200px;
	height: 800px;
	margin: 0 auto;
}

.header {
	width: 100%;
	height: 70px;
	background-image: url(../../img/header_bg.gif);
	background-repeat: repeat-x;
	min-width: 1100PX;
}

.logo2 {
	width: 189px;
	height: 34px;
	float: left;
	margin-top: 18px;
	margin-left: 25px;
}

.searchbar {
	width: 296px;
	height: 34px;
	margin-left: 20px;
	float: left;
	background-image: url(../../img/sou-suo-kuang.png);
	background-repeat: no-repeat;
	margin-top: 18px;
	margin-left: 202px;
}

.searchbox1 {
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
	height: 30px;
	margin-top: 2px;
	width: 240px;
	margin-left: 20px;
	line-height: 30px;
	font-size: 14px;
	color: #fff;
}

.searchbox2 {
	height: 28px;
	width: 25px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	background: none;
	border: 0;
}

.userbar {
	width: 280px;
	height: 40px;
	float: right;
	background-image: url(../../img/ding-di-.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	font-size: 14px;
	padding: 29px 0px 1px 80px;
}

.userbarpic1 {
	height: 44px;
	width: 44px;
	float: left;
	margin-right: 10px;
	position: relative;
}

.userbarpic2 {
	width: 26px;
	height: 26px;
	background-image: url(../../img/biao-qian.png);
	position: absolute;
	top: -8px;
	left: 20px;
	float: left;
	line-height: 22px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	font-family: "Microsoft YaHei";
}

.usermenu {
	height: 30px;
	line-height: 30px;
	float: left;
	position: relative;
	margin-top: 5px;
	font-family: "Microsoft YaHei";
}

.usermenu img {
	position: absolute;
}

.msgbox {
	position: absolute;
	top: 0px;
	left: 0;
	background-color: #fff;
	background: rgba(255, 255, 255, 0.0);
	width: 200px;
	padding: 5px;
	border: 0;
	font-size: 12px;
	line-height: 20px;
	-webkit-transition: all linear 250ms;
	margin-top: 0px;
	border-radius: 5px;
	color: rgba(255, 255, 255, 0.0);
	margin-left: -225px;
	margin-top: 60px;
}

.userbarpic1:hover .msgbox {
	background-color: rgba(255, 255, 255, 0.99);
	margin-left: -225px;
	margin-top: -25px;
	color: #fff;
	color: rgba(255, 255, 255, 0.99);
	background-color: #333;
	background-color: rgba(0, 0, 0, 0.7)
}

.content {
	width: 100%;
	height: 690px;
}

.footer {
	width: 100%;
	height: 40px;
}

.contentleft {
	width: 90px;
	height: 640px;
	float: left;
	margin-left: 4px;
	padding-top: 10px;
}

.contentleft img {
	margin-left: 2px;
	margin-top: 10px;
}

.contentright {
	width: 100%;
	height: auto;
	float: left;
	margin-top: 25px;
	z-index: -10;
	overflow:hidden;
}

.add {
	width: 100%;
	height: 28px;
	background-image: url(../../img/dang-qian-wei-zhi-bei-jing.png);
	font-size: 12px;
	line-height: 25px;
	padding-left: 10px;
	position: fixed;
	top: 0;
}
.add{z-index:100;position:fixed;}

.add a {
	text-decoration: none;
	color: #333;
}

.contentrc {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 0px 10px 0px 10px;
}

.contentrc img {
	margin-top: 10px;
}

.contentrc2 {
	padding: 0 10px 0 0;
	height: auto;
	border-top: 1px solid #fff;
	overflow: hidden
}

#warninglist {
	width: 100%;
}

#warninglist h3 {
	width: 96%;
	background-color: #666;
	float: left;
	margin: 0;
	padding: 0;
	padding: 10px 0 10px 0;
	border-radius: 2px;
	padding-left: 10px;
}

#warninglist h3 tt {
	color: #fff;
	margin-left: 5%;
	float: left;
	font-size: 14px;
	min-width: 150px;
}

#warninglist li tt {
	color: #333;
	margin-left: 5%;
	float: left;
	font-size: 14px;
	line-height: 50px;
	min-width: 200px;
}

#warninglist li {
	border-bottom: #333 dotted 1px;
	float: left;
	-webkit-transition: all linear 250ms;
	width: 96%;
	padding-left: 10px;
}

#warninglist li:hover {
	background-color: #ddd;
}

.footer {
	text-align: center;
	font-size: 12px;
	color: #fff;
	line-height: 40px;
}

.footer a {
	color: #fff;
}

.footer a:hover {
	color: #fff;
	background-color: #f90;
}

.toolbar {
	width: 100%;
	padding-left: 10px;
	height: 50px;
	border-bottom: #ccc solid 1px;
	font-size: 14px;
	background-color: #f6f6f6;
	position: relative;
}

.toolbarblue {
	width: 40px;
	height: 7px;
	background-image: url(../../img/blueicon.png);
	position: absolute;
	left: 80px;
	top: 43px;
}

.toolbar2 {
	width: 1065px;
	padding-left: 35px;
	height: 50px;
	border-bottom: #ccc solid 1px;
	line-height: 50px;
	font-size: 14px;
	background-color: #eeeeee;
}

.searchin {
	float: left;
	position: relative;
	width: 356px;
	height: 33px;
	margin-top: 8px;
	background-image: url(../../img/sou-suo2.png);
	margin-left: 20px;
}

.searchinbox1 {
	width: 315px;
	margin-top: -2px;
	padding-left: 35px;
	font-size: 14px;
	border: 0;
	height: 33px;
	-webkit-transition: all linear 250ms;
	background: none;
}

.btbox {
	float: right;
	margin-right: 22px;
	margin-top: 7px;
}

.btbox2 {
	float: right;
	margin-right: 20px;
	margin-top: 7px;
}

.searchinbt {
	background-color: none;
	border: none;
	color: #333;
	font-size: 14px;
	margin-top: 10px;
	cursor: pointer;
	-webkit-transition: all linear 250ms;
	line-height: 30px;
	padding: 0 15px 0 15px;
	width: 85px;
	height: 35px;
}

.searchinbt2 {
	background-color: rgba(255, 255, 255, 0.0);
	border: none;
	color: rgba(0, 0, 0, 0.6);
	font-size: 12px;
	width: 40px;
	position: absolute;
	top: -2px;
	height: 34px;
	left: 317px;
	border-radius: 0 15px 15px 0;
	cursor: pointer;
	-webkit-transition: all linear 250ms;
}

.docleft {
	position: relative;
}

.docleftmore {
	position: relative;
	z-index: 1;
	height: 640px;
}

.docbgtable {
	min-height: 400px;
}

.docbgrable tr,.docbgtable td {
	margin: 0;
	padding: 0;
}

.asbt1 {
	border: 0;
	color: #5a9d11;
	background: none;
	float: right;
	height: 30px;
	margin-top: 5px;
	font-size: 13px;
	font-family: "Microsoft YaHei";
	font-weight: bold;
}

.areashow {
	font-size: 18px;
	height: 35px;
	background: url(../../img/xqjk_line.png) 0 bottom repeat-x;
	line-height: 35px;
	padding-left: 10px;
	color: #202020;
	font-weight: bold
}

.arealist .last {
	border-bottom: none !important;
}

.arealist {
	margin-top: 10px;
	padding-top: -5px;
/* 	overflow: hidden; */
	overflow-x: hidden;
	overflow-y: auto; 
	height: 530px;
}

.arealist li a {
	cursor: pointer;
	display: block;
	padding-left: 10px;
}

.arealist li {
	line-height: 35px;
	font-size: 14px;
	border-bottom: #ccc dashed 1px;
}

.arealist li img {
	margin-left: 20px;
}

arealist li:hover {
	background-color: #ddd;
	padding-left: 5px;
}

.arealist2 {
	display: none
}

.arealist2 li {
	line-height: 30px;
	font-size: 12px;
	padding-left: 20px;
	border: 0;
	background-color: none;
	background-image: url(../../img/zuo-xia-di.jpg);
	cursor: pointer;
}

.liselected {
	background-image: url(../../img/zuo-xuan-zhong.jpg);
	color: #fff;
	padding-left: 15px;
}

.arealistshadow {
	width: 193px;
	height: 7px;
	background-image: url(../../img/lishadow.jpg);
}

.arealist2 li:hover,.arealist2 .on {
	background-image: url(../../img/zuo-xuan-zhong.jpg);
	color: #fff;
	padding-left: 15px;
}

.docright {
	width: 795px;
	height: 575px;
	float: left;
	margin-left: 20px;
}

#doclist {
	float: left;
	height: 525px;
}

#doclist h3 {
	background-color: #666;
	color: #fff;
	float: left;
	border-radius: 2PX;
}

#doclist h3 tt {
	width: 93px;
	float: left;
	padding: 0 10px 0 10px;
	font-size: 14px;
	line-height: 36px;
}

#doclist li tt {
	width: 93px;
	float: left;
	padding: 0 10px 0 10px;
	font-size: 14px;
	line-height: 50px;
}

#doclist li {
	float: left;
	border-bottom: #333 dotted 1px;
	background-color: none;
	-webkit-transition: all linear 250ms;
}

#doclist li:hover {
	background-color: #ddd;
}

.pagebar {
	height: 36px;
	margin-right: 35px;
	float: right;
}

.pagebarbt {
	cursor: pointer;
	-webkit-transition: all linear 250ms;
	background-image: none;
	border: 0;
	padding: 0;
	color: #636363;
	font-size: 14px;
	float: left;
	padding-top: 8px;
}

.pagebarbt2 {
	cursor: pointer;
	-webkit-transition: all linear 250ms;
	background-image: none;
	border: 0;
	padding: 0;
	color: #636363;
	font-size: 14px;
	width: 7px;
	height: 9px;
	padding: 13px;
	float: left;
}

.pagebarbt:hover {
	color: #3c90e7;
}

.aztimebox1 {
	height: 30px;
	border: #ccc solid 1px;
	border-radius: 15px;
	margin-left: 10px;
	margin-right: 10px;
	width: 115px;
	padding: 0 10px 0 10px;
	font-size: 14px;
	line-height: 30px;
}

.aztimebox1:focus {
	border: #ccc solid 1px;
	background: #ccc;
	-webkit-transition: all linear 250ms;
}

#generallist {
	float: left;
	height: 525px;
	width: 1065px;
	padding-left: 35px;
	padding-top: 20px;
}

#generallist h3 {
	background-color: #666;
	color: #fff;
	float: left;
	border-radius: 2PX;
}

#generallist h3 tt {
	width: 93px;
	float: left;
	padding: 0 10px 0 10px;
	font-size: 14px;
	line-height: 36px;
}

#generallist li tt {
	width: 93px;
	float: left;
	padding: 0 10px 0 10px;
	font-size: 14px;
	line-height: 50px;
}

#generallist li {
	float: left;
	border-bottom: #333 dotted 1px;
	background-color: none;
	-webkit-transition: all linear 250ms;
}

#generallist li:hover {
	background-color: #ddd;
}

.liftmapbox {
	width: 83%;
	float: left;
	height: auto;
	margin-left: 20px;
	overflow: hidden;
	min-height: 350px;
}

.rpmsgbox1 {
	height: 90px;
	text-align: center;
	width: 30px;
	color: #fff;
	background-color: #333;
	background-color: rgba(0, 0, 0, 0.8);
	line-height: 30px;
	font-size: 12px;
	border-radius: 2px;
	float: right;
	position: relative;
	-webkit-transition: all linear 250ms;
	border-radius: 15px;
	margin-right: 30px;
	margin-top: 30px;
	cursor: pointer;
}

.rpmsgbox2 {
	width: 200px;
	height: 300px;
	background-color: #333;
	background-color: rgba(0, 0, 0, 0.0);
	position: absolute;
	top: 0;
	left: 100px;
	-webkit-transition: all linear 0ms 250ms;
	border-radius: 20px 0 15px 15px;
}

.rpmsgbox1:hover .rpmsgbox2 {
	left: -200px;
	background-color: rgba(0, 0, 0, 0.8);
}

.rpmsgbox1:hover {
	border-radius: 0 15px 15px 0;
}

.msgcircle1 {
	position: absolute;
	top: -10px;
	left: 20px;
	height: 20px;
	width: 20px;
	border-radius: 10px;
	background-color: #f90;
	color: #fff;
	line-height: 20px;
}

.msgcircle2 {
	float: right;
	height: 20px;
	width: 20px;
	border-radius: 10px;
	background-color: #f90;
	color: #fff;
	line-height: 20px;
	margin-top: 10px;
}

#tabbox1 li {
	float: left;
	width: 66px;
	text-align: center;
	display: block;
	position: relative;
	height: 40px;
	line-height: 40px;
}

.msgcontent {
	display: none;
}

.tabboxli1 {
	-webkit-transition: all linear 250ms;
}

.msgcontent {
	line-height: 20px;
	font-size: 14px;
	text-align: left;
	width: 170px;
}

.tabboxli1:hover .msgcontent {
	display: block;
	position: absolute;
	left: 15px;
	width: 170px;
}

.tabboxli2:hover .msgcontent {
	display: block;
	position: absolute;
	left: -51px;
	width: 170px;
}

.tabboxli3:hover .msgcontent {
	display: block;
	position: absolute;
	left: -117px;
	width: 170px;
}

#remindtable {
	font-size: 14px;
	width: 95%;
	margin-top: 10px;
	text-align: center;
	font-family: "Microsoft YaHei";
}

#remindtable th {
	line-height: 30px;
	color: #000;
	text-align: center;
}

#remindtable td {
	line-height: 40px;
	color: #181818;
}

#remindtable tr {
	height: 35px;
}

#remindtable tr:hover {
	background-color: #ddd;
}

.remindtable2bg {
	position: relative;
}

#remindtable2 {
	width: 100%;
	font-size: 14px;
	text-align: center;
	border-left: #dbdbdb solid 1px;
	border-top: #dbdbdb solid 1px;
	margin-top: 100px;
	margin: 0 auto;
	/* position: absolute; */
	/* 	top: 12px; */
	/* left: 1%; */
}

#remindtable2 th {
	line-height: 28px;
	color: #000;
	text-align: center;
	border-bottom: #dbdbdb solid 1px;
	border-right: #dbdbdb solid 1px;
	height: 28px;
	margin: 0;
	padding: 0;
	background-image: url(../../img/doctablethbg.png);
}

#remindtable2 td {
	color: #181818;
	border-bottom: #dbdbdb solid 1px;
	border-right: #dbdbdb solid 1px;
	line-height: 35px;
	height: 35px;
}

#remindtable2 td img {
	
}

#remindtable2 tr {
	-webkit-transition: all linear 250ms;
}

.righttool {
	position: fixed;
	top: 20%;
	width: 100%;
}

.righttoolbox {
	float: left;
}

.bg1 {
	background-color: #f4f5f6;
}

.bg2 {
	background-color: #fff;
}

.ltb {
	width: 86px;
	height: 10px;
	position: fixed;
	left: 4px;
	bottom: 0;
	background-image: url(../../img/leftbottom.png);
}

.ltt {
	width: 86px;
	height: 10px;
	position: fixed;
	left: 4px;
	top: 0;
	background-image: url(../../img/lefttop.png);
}

.mainbox {
	width: 95%;
	height: auto;
	margin: 0 auto;
	margin-top: 50px;
}

.mainbox1 {
	background-color: #fff;
	width: 55%;
	border: #ddd solid 1px;
	float: left;
	height: auto;
	margin-bottom: 15px;
	min-height: 300px;
}

.mainbox2 {
	background-color: #fff;
	width: 44%;
	border: #ddd solid 1px;
	float: right;
	height: auto;
	min-height: 300px;
	margin-bottom: 15px;
}

.mainbox1 h3 {
	background-image: url(../../img/mainboxtitlebg.png);
	color: #181818;
	font-size: 16px;
	line-height: 32px;
	padding-left: 3%;
	border-bottom: #d6d7d8 solid 1px;
	font-weight: 400;
}

.mainbox1 h3 b,.mainbox2 h3 b {
	font-weight: 400;
	font-size: 13px;
	color: #7c7c7c;
	margin-left: 10px;
}

.mainbox11 {
	width: 90%;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 25px;
}

.mainbox112 {
	width: 50%;
}

.mainbox111 {
	width: 50%;
}

.mainbox111 h4 {
	font-size: 16px;
	font-weight: 400;
	color: #202020;
}

.mainbox111 p {
	font-size: 14px;
	color: #757575;
	margin: 0;
	padding: 0;
	margin-top: 10px;
}

.mainbox2 h3 {
	background-image: url(../../img/mainboxtitlebg.png);
	color: #181818;
	font-size: 16px;
	line-height: 32px;
	padding-left: 5%;
	border-bottom: #d6d7d8 solid 1px;
	font-weight: 400;
}

.mainbox21 {
	width: 90%;
	font-size: 16px;
	color: #202020;
	text-indent: 50px;
	padding-top: 30px;
	margin: 0 auto;
}

.mainbox15 {
	width: 90%;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 25px;
}

.mainbox25 {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

.mainbox2511 {
	margin-bottom: -1px;
}

.mainbox2511 img {
	border-bottom: #e1e1e1 solid 1px;
}

.headerbg {
	height: 96px;
	width: 100%;
	background-image: url(../../img/wu-lian-wang-di.png);
}

.header2 {
	height: 96px;
	width: 960px;
	margin: 0 auto;
}

.logo {
	background-image: url(../../img/logo.png);
	width: 239px;
	height: 43px;
	float: left;
	margin-top: 27px;
}

.searcher {
	background-image: url(../../img/sou-suo.png);
	float: right;
	width: 398px;
	height: 38px;
	margin-top: 35px;
	position: relative;
	background-repeat: no-repeat;
}

.tabbox1 {
	position: absolute;
	top: -20px;
	left: 18px;
	height: 20px;
	width: 263px;
}

.loginbg {
	background-image: url(../../img/jiao-dian.png);
	background-position: center;
	height: 460px;
	margin-top: -6px;
	background-repeat: no-repeat;
}

.loginboxbg {
	width: 960px;
	height: 460px;
	margin: 0 auto;
}

.loginbox {
	width: 271px;
	height: 360px;
	background-image: url(../../img/ban-tou-di-ban.png);
	float: right;
	padding-top: 69px;
	padding-right: 20px;
	padding-bottom: 31px;
	padding-left: 30px;
}

.msgbg {
	width: 100%;
	height: 70px;
	background-image: url(../../img/jia-ru-di.png);
}

.msg {
	width: 960px;
	height: 70px;
	margin: 0 auto;
}

.msg img {
	float: left;
	margin-top: 2px;
	padding-right: 13px;
}

.msg1 {
	line-height: 70px;
	font-size: 26px;
	color: #0379e3;
	font-weight: bold;
	float: left;
}

.msg2 {
	line-height: 75px;
	font-size: 14px;
	color: #8a8a8a;
	float: right;
	font-family: "Microsoft YaHei";
}

.content {
	width: 960px;
	height: 300px;
	margin: 0 auto;
	margin-bottom: 28px;
}

.contentboxbg {
	margin-top: 40px;
}

.contentbox1 {
	height: 275px;
	width: 195px;
	float: left;
	padding: 0 37px 0 37px;
}

#logincontentlist1 li {
	list-style: none;
	line-height: 30px;
	padding-left: 20px;
	background-image: url(../../img/li.jpg);
	background-repeat: no-repeat;
	background-position: center left;
}

#logincontentlist1 li a {
	color: #717171;
	font-size: 14px;
}

#logincontentlist1 h3 {
	font-size: 20px;
	line-height: 50px;
	margin-bottom: 10px;
}

#logincontentlist1 h3 img {
	float: left;
	padding-right: 5px;
}

.contentbox2 {
	height: 275px;
	width: 345px;
	float: left;
	padding: 0 20px 0 40px;
}

#logincontentlist2 h3 {
	font-size: 20px;
	line-height: 50px;
	margin-bottom: 10px;
}

#logincontentlist2 h3 img {
	float: left;
	padding-right: 5px;
}

#logincontentlist2 li {
	float: left;
	border: 1px solid #e2e2e2;
	margin: 5px 15px 5px 5px;
}

.footer2 {
	width: 100%;
	height: 60px;
	background-color: #e6e6e6;
	text-align: center;
	font-size: 12px;
	color: #868686;
	padding-top: 20px;
	font-family: "宋体";
	line-height: 20px;
}

.footer2 a {
	font-size: 12px;
	color: #5e5e5e;
	margin-bottom: 10px;
	font-family: "宋体";
}

.loginbox h3 {
	background-image: url(../../img/fang-wen.png);
	height: 19px;
	background-repeat: no-repeat;
	border-bottom: #fff solid 1px;
	color: #fff;
	line-height: 35px;
	margin-bottom: 21px;
	padding-bottom: 6px;
}

.loginbox1 {
	width: 224px;
	height: 40px;
	background-color: transparent;
	background-image: url(../../img/yong-hu-ming.png);
	border: 0;
	padding-left: 50px;
	line-height: 40px;
	margin-bottom: 10px;
	color: #666;
	background-repeat: no-repeat;
	font-size: 14px;
}

.loginbox2 {
	background-color: transparent;
	color: #666;
	width: 224px;
	height: 40px;
	background-image: url(../../img/shu-ru-mi-ma-.png);
	border: 0;
	padding-left: 50px;
	line-height: 41px;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	font-size: 14px;
}

.loginbox3 {
	background-color: transparent;
	width: 119px;
	height: 39px;
	background-image: url(../../img/deng-lu.png);;
	background-repeat: no-repeat;
	border: 0;
	margin-bottom: 43px;
}

.loginbox4 {
	background-color: transparent;
	width: 100%;
	height: 2px;
	background-image: url(../../img/2-xiang-su-xian.png);
}

.loginbox5 {
	background-color: transparent;
	width: 275px;
	height: 49px;
	background-image: url(../../img/sheng-qing-zheng-chang.png);
	background-repeat: no-repeat;
	border: 0;
	margin-top: 21px;
}

.loginbox6 {
	background-color: transparent;
	width: 275px;
	height: 42px;
	background-image: url(../../img/zi-xun-zheng-chang.png);
	background-repeat: no-repeat;
	border: 0;
	margin-top: 5px;
}

.loginbox7 {
	font-size: 14px;
	color: #E7E7E7;
	text-align: right;
	margin-top: -62px;
	padding-right: px;
	margin-bottom: 40px;
}

.searchbox1 {
	height: 36px;
	margin-top: 1px;
	border: 0;
	background: none;
	margin-left: 20px;
	line-height: 26px;
	color: #c6c6c6;
	width: 330px;
	position: relative;
	font-size: 14px;
}

.searchbox2 {
	height: 30px;
	border: 0;
	background: none;
	width: 40px;
	cursor: pointer;
}

.xian {
	width: 3px;
	height: 275px;
	background-image: url(../../img/xian.png);
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.color1 {
	font-size: 24px;
	color: #ef4a26;
}

.color2 {
	font-size: 24px;
	color: #f89638;
}

.color3 {
	font-size: 24px;
	color: #fcb040;
}

.tongjitext1 {
	font-size: 15px;
	color: #202020;
}

.tongjitext2 {
	font-size: 13px;
	color: #747474;
}

.lunbo {
	margin: 0 auto;
	margin-top: 10px;
}

.lunbo1 img {
	float: left;
	margin-left: 10px;
}

.shubiao {
	cursor: pointer;
}

.querypage {
	width: 1210px;
	margin: 0 auto;
	position:relative;
}

.logo3 {
	width: 189px;
	height: 34px;
	float: left;
	margin-top: 18px;
	margin-left: 100px;
}
.monitorcontainer {
	clear: both;
	overflow: hidden;
	background-color: white;
	width: 1054px;
	height: 755px;
}
.maintstate {
	float: right;
	margin-top: 15px;
	height: 30px;
	margin-right: 35px;
}

.statename {
	color: #2b80da;
}