<template name="monitorPage">
  <div id="monitor_nav" class="row">
    <ul class="nav nav-tabs">
	  <li name="map" role="presentation" class="active"><a href="javascript:;">地图模式</a></li>
	  <li name="index" role="presentation"><a href="javascript:;">索引模式</a></li>
	</ul>
  </div>

  <div id="map" class="row">
    <img src="img/monitor_map.png">
  </div>

  <div style="display:none" id="index" class="row">
    <div class="col-sm-3 col-md-3">
    	<img src="img/monitor_index_left.png">
    	left
    </div>
    <div class="col-sm-9 col-md-9">
    	<img src="img/monitor_index_right.png">
    	right
    </div>
  </div>
</template>